body {
  background-color: #3fa1a9;
  display: flex;
  justify-content: center;
}

.input-case {
  position: relative;
  width: 1200px;
  height: 180px;
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-left: 4%;
}

.type-case {
  position: absolute;
  width: 1195px;
  height: 178px;
  background-color: black;
  color: white;
  border: none;
  z-index: 0;
}

.twitter-submit-button {
  position: absolute;
  right: 0;
  width: 68px;
  height: 34px;
  background-color: #007bff;
  color: white;
  z-index: 1;
  margin-top: 140px;
  border-radius: 4px;
}

.tweet-box {
  height: 120px;
  width: 1200px;
  background-color: #343a40;
  border: 1px solid white;
  margin-top: 15px;
  margin-left: 13px;
}

.username-tweet {
  color: #6C757D;
  margin-left: 10px;
}

.text-tweet {
  color: white;
  margin-left: 20px;
}

.date-tweet {
  color: #6C757D;
  font-size: 15px;
  float: right;
}

.spinner-border {
  color: red;
  margin-left: 50%;
}

.user-page {
  display: flex;
  flex-direction: column;
}

.profile-title {
  color: white;
  margin-bottom: 10%;
}

.user-name-subtitle {
  color: white;
}

.chat-title {
  color: white;
  text-align: center;
}

.input-user-name {
  width: 500px;
  height: 50px;
}

.input-button-user {
  width: 20%;
  margin-left: 78%;
  border-radius: 4px;
  margin-top: 2%;
  background-color: rgb(76, 76, 247);
}